.map {
  display: flex;
  justify-content: left;
  transform-origin: 0 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  > div {
    width: 100%;
    flex-shrink: 0;
  }
}
.map_two_level {
  position: relative;
  > button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
